.aboutContent {
  padding: $xxl-size $xl-size 8rem $xl-size;

  @include sm {
    padding: $xl-size $m-size 8rem $m-size
  }

  h1 {
    font-size: $font-size-extra-large;
    padding-bottom: $xl-size;
    width: 76%;

    @include sm {
      font-size: 3.2rem;
      width: 100%;
    }
  }

  h3 {
    font-size: $font-size-large;
    padding-bottom: $l-size;
    position: relative;
    width: 76%;

    @include sm {
      font-size: $font-size-medium;
      width: 100%;
    }
  }

  hr {
    width: 20%;
    float: left;
    position: absolute;
  }
}

a {
  text-decoration: none;
  color: $pink;
  transition-duration: 600ms;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: 0;
    background-color: transparent;
    text-decoration: none;
  }
}

