.contactContainer {
  padding: 0 $xl-size 8rem $xl-size;
  position: relative;

  @include sm {
    padding: $xl-size $m-size 8rem $m-size;
  }

  .email {
    @include sm {
      font-size: $m-size;
    }
  }

  hr {
    width: 20%;
    float: left;
    position: absolute;
  }

  .contactTitle {
    padding-top: 8rem;

    @include sm {
      font-size: $m-size;
    }
  }

  a {
    padding-left: $m-size;
    text-decoration: underline;
    transition-duration: 600ms;
    cursor: pointer;

    @include sm {
      padding-left: $xs-size;
      font-size: $m-size;
    }

    &:hover {
      text-decoration: none;
      opacity: 0.6;
    }

    &:focus {
      outline: 0;
    }
  }
}

.socials {
  margin-top: 10rem;

  .link {
    color: inherit;
    font-size: $font-size-large;
    padding: 0 $l-size 0 0;
    text-decoration: none;
    transition-duration: 600ms;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }

    @include sm {
      font-size: $m-size;
    }
  }
}