.workContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 $xl-size $l-size $xl-size;

  @include sm {
    padding: 0 $m-size $l-size $m-size;
  }

  h2 {
    padding-bottom: $l-size;
    text-align: center;
    @include sm {
      font-size: $font-size-medium;
    }
  }
}

.workItems {
  z-index: 4000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.workItem {
  position: relative;
  cursor: pointer;

  img {
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
    margin: $m-size;
    border-radius: 12px;

    @include sm {
      width: 94%;
    }
  }

  &:hover .description {
    opacity: 1;
  }

  &:hover img {
    opacity: 0.2;
  }

  @include sm {
    &:active .description {
      opacity: 1;
    }

    &:active img {
      opacity: 0.2;
    }
  }
}

.description {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  font-size: $font-size-medium;

  @include sm {
    font-size: $font-size-extra-small;
  }

  p {
    margin-bottom: 0;
  }

  a {
    margin-top: $s-size;
    display: block;

    @include sm {
      font-size: $font-size-extra-small;
      margin-top: $xs-size;
    }
  }

  span {
    margin-top: $s-size;
    color: $pink;
    display: block;
    font-size: $font-size-small;

    @include sm {
      font-size: $font-size-extra-small;
      margin-top: $xs-size;
    }
  }
}
