.workContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 $xl-size $l-size $xl-size;

  h2 {
    padding-bottom: $l-size;
  }
}

.workItems {
  z-index: 4000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.workItem {
  position: relative;
  cursor: pointer;

  img {
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
    margin: $m-size;
    border-radius: 12px;
  }

  &:hover .description {
    opacity: 1;
  }

  &:hover img {
    opacity: 0.2;
  }
}

.description {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: $font-size-medium;

  p {
    margin-bottom: 0;
  }

  a {
    margin-top: $s-size;
    display: block;
  }

  span {
    margin-top: $s-size;
    color: $pink;
    display: block;
    font-size: $font-size-small;
  }
}
